:root {
    --hoverboard-transform-time: .5s;
}

.hoverboard {
    position: relative;

    border-radius: var(--hoverboard-theme-border-radius);

    overflow: hidden;

    img {
        position: relative;
        display: block;
    }

    figcaption {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        padding: 1rem;
        border-radius: var(--hoverboard-theme-border-radius);
        background: var(--hoverboard-theme-background);
        box-shadow: var(--hoverboard-theme-box-shadow-color) var(--hoverboard-theme-box-shadow-offset) var(--hoverboard-theme-box-shadow-blur) var(--hoverboard-theme-box-shadow-spread);
    }

    > a {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &:focus,
    &:not(:has(figcaption a)):focus-within {
        outline: var(--hoverboard-theme-outline-width) var(--hoverboard-theme-outline-style) var(--hoverboard-theme-outline-color);
        outline-offset: var(--hoverboard-theme-outline-offset);
    }
}
