.hoverboard {
    &.jump-in-left {
        --hoverboard-transform: rotate(-90deg);
        --hoverboard-transform-origin: top right;
        --hoverboard-hover-transform-origin: bottom left;
    }

    &.jump-in-right {
        --hoverboard-transform: rotate(90deg);
        --hoverboard-transform-origin: top left;
        --hoverboard-hover-transform-origin: bottom right;
    }

    &.jump-in-left,
    &.jump-in-right {
        figcaption {
            transform: var(--hoverboard-transform);
            transform-origin: var(--hoverboard-transform-origin);
            transition: transform-origin var(--hoverboard-transform-time) linear, transform var(--hoverboard-transform-time) cubic-bezier(0.5, 0, 0.4, 1.3);
            transition-delay: var(--hoverboard-transform-delay);
        }

        &:hover, &:focus, &:focus-within {
            figcaption {
                transform: rotate(0deg);
                transform-origin: var(--hoverboard-hover-transform-origin);
                transition-delay: 0s;
            }
        }
    }
}
