.hoverboard {
    &.slide-left {
        --hoverboard-translate: 100%, 0;
    }

    &.slide-right {
        --hoverboard-translate: -100%, 0;
    }

    &.slide-up {
        --hoverboard-translate: 0, 100%;
    }

    &.slide-down {
        --hoverboard-translate: 0, -100%;
    }

    &.slide-left,
    &.slide-right,
    &.slide-up,
    &.slide-down {
        figcaption {
            transform: translate(var(--hoverboard-translate));
            transition: transform var(--hoverboard-transform-time) ease-in;
        }

        &:hover, &:focus, &:focus-within {
            figcaption {
                transform: translate(0, 0);
                transition: transform var(--hoverboard-transform-time) cubic-bezier(0.5, 0, 0.4, 1.3);
            }
        }
    }
}
